<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "blank-profile.png" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Tucker Mullen</h1>
		<p>I'm learning Ruby or Rails by building this blog!</p>
		<p>This is my fourth month learning Rails!</p>
		<p>If you'd like to follow follow me, find me on Instagram <a href="http://instagram.com/mazamotuck">Tucker's Instagram</a></p>
		</div>
</div>
